<br>

<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
<div class="about-section">
  <h1>About Us</h1>
  <p>Established in 1900, specializing in providing children's toys to help children have a beautiful childhood.</p>
  <p>Our goal is to surpass Elon Musk by 2023 to become the world's most valuable company</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.fcbarcelona.com/photo-resources/2022/07/01/ce4b94a3-11c3-4853-8928-42eebab74871/jugador_fitxa-ansu.jpg?width=1200&height=750" alt="sati" style="width:100%">
      <div class="container">
        <h2>Ansu $ati</h2>
        <p class="title">CEO & Founder</p>
        <p>Wanting to move</p>
        <p>$ati&!ndi@barca.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.fcbarcelona.com/photo-resources/2022/07/24/f47cd134-efc4-4f90-943d-41ad2443d4f1/jugador_fitxa-lewan.jpg?width=1200&height=750" alt="Do" style="width:100%">
      <div class="container">
        <h2>Le Van Do</h2>
        <p class="title">Art Director</p>
        <p>Bayernliga's best player</p>
        <p>dembongkvao@barca.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.fcbarcelona.com/photo-resources/2022/09/14/2fb12ba2-961f-499a-9076-339a3e6ff519/jugador_fitxa-gavi.jpg?width=1200&height=750" alt="xavi" style="width:100%">
      <div class="container">
        <h2>Xavi</h2>
        <p class="title">Designer</p>
        <p>Breakout fee is too high</p>
        <p>goLDenb0Yz0zz@barca.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div>
            <h3><strong>Partners</strong></h3>
        <marquee id="marq" scrollamount="3" direction="right" loop="50" scrolldelay="0" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
            <a href="https://be.com.vn/"><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/93/e4/af/93e4af1a-fc08-266c-aad2-d35c297be444/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x600wa.png" title="be" width="200" height="200"/></a>
            <a href="https://fpt.com.vn/vi"><img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" title="fpt" width="200" height="200"/></a>
            <a href="https://giaohangtietkiem.vn/"><img src="https://sanvieclamcantho.com/upload/imagelogo/cong-ty-co-phan-giao-hang-tiet-kiem1575178807.png" title="ghtk" width="200" height="200"/></a>
            <a href="https://www.grab.com/vn/"><img src="https://assets.grab.com/wp-content/uploads/sites/11/2021/04/15154334/Grab_Logo_2021.jpg" title="grab" width="200" height="200"/></a>
            <a href="https://greenwich.edu.vn/en/english/"><img src="http://static.ybox.vn/2020/2/4/1582769527314-1537594031380-Greenwich.jpg" title="greenwich" width="200" height="200"/></a>
        </marquee>
        </div>