<h1>404 err</h1>

<div>
            <h3><strong>Partners</strong></h3>
        <marquee id="marq" scrollamount="3" direction="right" loop="50" scrolldelay="0" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
            <a href="https://be.com.vn/"><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/93/e4/af/93e4af1a-fc08-266c-aad2-d35c297be444/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x600wa.png" title="be" width="200" height="200"/></a>
            <a href="https://fpt.com.vn/vi"><img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" title="fpt" width="200" height="200"/></a>
            <a href="https://giaohangtietkiem.vn/"><img src="https://sanvieclamcantho.com/upload/imagelogo/cong-ty-co-phan-giao-hang-tiet-kiem1575178807.png" title="ghtk" width="200" height="200"/></a>
            <a href="https://www.grab.com/vn/"><img src="https://assets.grab.com/wp-content/uploads/sites/11/2021/04/15154334/Grab_Logo_2021.jpg" title="grab" width="200" height="200"/></a>
            <a href="https://greenwich.edu.vn/en/english/"><img src="http://static.ybox.vn/2020/2/4/1582769527314-1537594031380-Greenwich.jpg" title="greenwich" width="200" height="200"/></a>
        </marquee>
        </div>