<div class="container">
  <img src="https://i.ytimg.com/vi/qzO-puPlgXk/maxresdefault.jpg">
  <div class="text">
    <h1 class="text-center">Sr we can't help you</h1>
    <h1 class="text-center">We will be back soon or never.</h1>
  </div>
</div>
<br>

<style>
.container {
  position: relative;
  margin: 0 auto;
}
img{
  width:100%;
}
.container .text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 98%; 
  box-sizing:border-box;
  padding: 20px;
}
</style>