<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
   <div class="container">
    <div class="carousel-item active">
      <img src="https://i.ytimg.com/vi/qzO-puPlgXk/maxresdefault.jpg"  class="d-block w-60 h-70" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://vtv1.mediacdn.vn/thumb_w/650/2019/6/19/lede-15609585113571677251457.jpg" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/Z6GdL2kwWgE/maxresdefault.jpg"  class="d-block w-100 " alt="...">
    </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">OUR PRODUCTS</h2>
                    <h3 class="section-subheading text-muted">Customer is GOD</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                          <a href="/product/list/">
                            <img width="140" height="140" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/rubik-cube-2738745-2268930.png" />
                          </a>
                        </span>
                        <h4 class="my-3">Brain Teaser</h4>
                        <p class="text-muted">Rubik's math toy set is an intellectual toy that helps children train their thinking ability, arrange with numbers that rotate 360 degrees. This math Rubic toy set is made of safe plastic and paper, the surface of the toy is glued with beautiful colored numbers to help children learn addition, subtraction, multiplication and division easily.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                          <a href="/product/list/">
                            <img width="140" height="140"
                                src="https://cdn.iconscout.com/icon/premium/png-256-thumb/coupe-car-4461176-3699972.png" />
                          </a>
                        </span>
                        <h4 class="my-3">Model Toys</h4>
                        <p class="text-muted">Model toys, also known as simulation toys, are toys that are simulated according to real objects, vehicles, and devices with miniature sizes according to a certain ratio.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                          <a href="/product/list/">
                            <img width="180" height="140"
                                src="https://www.nicepng.com/png/detail/313-3130282_medicom-toy-berbrickkawskarimoku-wood-bearbrick-1000-kaws.png" />
                          </a>  
                        </span>
                        <h4 class="my-3">Art Toys</h4>
                        <p class="text-muted">Toys are inherently fun for children, highly interactive. Art toys also inherit these characteristics when it gives players the feeling of excitement of children with a collection of childhood toys.</p>
                    </div>
                </div>
            </div>
            {{!-- <tbody class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Product</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div> --}}

{{!-- <div class="row">
<div class="card" style="width: 18rem;">
  <img src="https://i.scdn.co/image/ab67616d0000b273141fd8f6f45d881b7572f9b8" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/product/list/" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}

<div>
            <h3><strong>Partners</strong></h3>
        <marquee id="marq" scrollamount="3" direction="right" loop="50" scrolldelay="0" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
            <a href="https://be.com.vn/"><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/93/e4/af/93e4af1a-fc08-266c-aad2-d35c297be444/AppIcon-0-0-1x_U007emarketing-0-0-0-8-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x600wa.png" title="be" width="200" height="200"/></a>
            <a href="https://fpt.com.vn/vi"><img src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg" title="fpt" width="200" height="200"/></a>
            <a href="https://giaohangtietkiem.vn/"><img src="https://sanvieclamcantho.com/upload/imagelogo/cong-ty-co-phan-giao-hang-tiet-kiem1575178807.png" title="ghtk" width="200" height="200"/></a>
            <a href="https://www.grab.com/vn/"><img src="https://assets.grab.com/wp-content/uploads/sites/11/2021/04/15154334/Grab_Logo_2021.jpg" title="grab" width="200" height="200"/></a>
            <a href="https://greenwich.edu.vn/en/english/"><img src="http://static.ybox.vn/2020/2/4/1582769527314-1537594031380-Greenwich.jpg" title="greenwich" width="200" height="200"/></a>
        </marquee>
        </div>


