<div class="container col-md-8 mt-5">
   <form action="/suplier/add" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Add new suplier</h2>
      <div class="form-group">
         <label class="text-success h6">Suplier Name</label>
         <input class="form-control" type="text" name="Name" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Suplier Address</label>
         <input class="form-control" type="text" name="Address" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Suplier Email</label>
         <input class="form-control" type="email" name="Email" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Suplier Contact</label>
         <input class="form-control" type="text" name="Contact" required>
      </div>
   </form>
</div>