<div class="container col-md-8 mt-5">
   <form action="/product/add" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Add new Product</h2>
      <div class="form-group">
         <label class="text-success h6">Product Name</label>
         <input class="form-control" type="text" name="Name" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Product Size</label>
         <input class="form-control" type="number" name="Size" required min="1", max="3">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Product Image</label>
         <input class="form-control" type="text" name="Image" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Price</label>
         <input class="form-control" type="number" name="Price" required>
      </div>
      {{!-- <div class="form-group mt-3">
         <label class="text-success h6">Product Year</label>
         <select name="year" class="form-control">
            <option value="">Select a year</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
         </select>
      </div> --}}
      <div class="form-group mt-3">
         <label class="text-success h6">Suplier</label>
         <input class="form-control" type="text" name="Suplier" required min=0 max=10>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Status</label><br>
         Stocking <input type="radio" name="Status" value="Stocking">
         Sold out <input type="radio" name="Status" value="Sold out">
      </div>
      <div class="form-group mt-3">
         <input class="btn btn-primary mt-3" type="submit" value="Add">
      </div>
   </form>
</div>